@font-face {
src: url(../assets/fonts/Almarai-Regular.ttf);
font-family: almarai;
font-weight: 400;
}

@font-face {
src: url(../assets/fonts/Almarai-Bold.ttf);
font-family: almarai;
font-weight: 700;
}

@font-face {
src: url(../assets/fonts/Almarai-ExtraBold.ttf);
font-family: almarai;
font-weight: 800;
}
